div.widthLimiter {
    width: 75%;
    margin: 50px auto 0 auto;
    border: 2px solid #18453b;
    border-radius: 3px;
}

div.col{
    text-align: left;
    /* outline: solid black 2px; */
    position: sticky;
    background-color: #18453b;
    color: white;
    padding: 5px;
}

#btn1,btn2{
    vertical-align: baseline;
}

.added_name{
    /* min-height: 400px; */
    /* overflow: scroll; */

}