
  <div class="container-fluid">
    <div class="row">
      
      <div class="widthLimiter">

          <div class="col">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-secondary" type="button">Proj. Description</button>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>
          </div>

        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Date
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#!">January 19</a>
                  <a class="dropdown-item" href="#!">January 20</a>
                </div>
              </div>
        </div>

        <div class="col">
          Location
        </div>

      </div>

    </div>
  </div>